<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lego.mapper.CategoryMapper">


	<select id="findAllCategory" resultMap="categoryRM">
		select * from category_p c 
		left join 
		(select category_id c_id,category_name c_name from category_p) p
		on c.parent_level=p.c_id
	</select>
	

	<resultMap type="lego.pojo.Category" id="categoryRM" autoMapping="true">
	     <id column="category_id" property="categoryId"/>
	     <association property="parentLevel" javaType="lego.pojo.Category">
	           <id column="parent_level" property="categoryId"/>
	           <result column="c_name" property="categoryName"/>     
	     </association>
	</resultMap>


</mapper>