<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lego.mapper.OrderMapper">
	
	
	
	
	
	<!-- 删除订单 -->
	<delete id="deletOrder">
		delete from order_p where order_id in (
		<foreach  collection="array" item="id" separator=",">
			#{id}
		</foreach>
		)
	</delete>
	
	<!-- 修改支付状态 -->
	<!--批量的数据修改 只修改单个数据  -->
	<update id="updateState">
		update order_p set paystate = #{paystate} where order_id in(
			
			<foreach collection="orderIds" item="id" separator=",">
				#{id}
			</foreach>
		)
	</update>
	<!-- 新增订单 -->
	<!-- <insert id="saveOrder">
	insert into order_p(order_id,user_id,money,paystate,address,
	order_time,remark)
	values(
	#{orderId},
	#{user.userId},
	#{money},
	#{paystate},
	#{address.address},
	#{orderTime},
	#{remark}
	)
	</insert> -->
	
</mapper>
