<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lego.mapper.SalesMapper">

<!-- 查询全部商品的销售信息 -->
<select id="findAllSales" resultMap="salesRM">
	SELECT product.name,SUM(sales.sale_count) number 
		FROM sales,product   
	WHERE   
	product.product_id = sales.product_id  
	GROUP BY 
		sales.product_id  
	ORDER BY 
		number desc
</select>

<!-- 查询全部商品名称 -->
<select id="findAllSalesName" resultType="string">
	SELECT product.name
		FROM sales,product   
	WHERE   
	product.product_id = sales.product_id  
	GROUP BY 
		sales.product_id  

</select>

<!-- 查询全部商品销量 -->
<select id="findAllSalesCount" resultType="java.lang.Integer">
	SELECT SUM(sales.sale_count) number 
		FROM sales,product   
	WHERE   
	product.product_id = sales.product_id  
	GROUP BY 
		sales.product_id  

</select>


<resultMap type="lego.pojo.Sales" id="salesRM">
	<!-- 完成主表映射 -->
	<result column="number" property="number"/>
	<!-- 封装product对象 -->
	<association property="product" javaType="lego.pojo.Product">
			<!-- 封装userInfoId主键信息 -->
			<result column="name" property="name"/>
	</association>
</resultMap>
</mapper>