<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lego.mapper.UserMapper">
     <!-- 根据用户名和密码进行查询信息 -->
      <select id="findUserByUP" resultMap="userRM">
      select * from user_p where username=#{username} 
      </select>
     <resultMap type="lego.pojo.User" id="userRM" autoMapping="true">
     	<id column="user_id" property="userId"/>
     	
     </resultMap>
	<!-- 保存信息 -->
	<insert id="saveUser">
	 insert into user_p(user_id,username,password,permission_id,remark) values(
	 #{userId,jdbcType=VARCHAR},
	 #{username,jdbcType=VARCHAR},
	 #{password,jdbcType=VARCHAR},
	 #{permission,jdbcType=VARCHAR},
	 #{remark,jdbcType=VARCHAR}
	 )
	</insert>	
	
	<!-- 根据用户名查询用户 -->
	<select id="findUserByUserName" resultType="lego.pojo.User">
		select * from user_p where username = ${username}
	</select>
	
</mapper>