<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lego.mapper.UserInfoMapper">
	
	<!-- 查询个人详细信息 -->
    <select id="findUserInfoById" resultType="lego.pojo.UserInfo" >
    	select * from user_info_p where user_info_id=#{userId}
    </select>
   
  	
    
    <!-- 修改个人详细信息 -->
	<update id="updateUserInfomsg">
		update user_info_p <set>
		user_info_id=#{userInfoId},
		 name=#{name},
		 gender=#{gender},
		card_no=#{cardNo},
		birthday=#{birthday,jdbcType=DATE},
		telephone=#{telephone},
		email=#{email}	
		</set>
		where user_info_id=#{userInfoId}
	</update>
	<select id="findUserByUid" resultType="lego.pojo.UserInfo">
		select * from user_info_p where user_info_id=#{userInfoId}
	</select>
</mapper>