<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lego.mapper.UserInfoMapper">
<select id="findUserByUid" resultMap="userInfoRM">
	select * from user_info_p
</select>


<resultMap type="lego.pojo.UserInfo" id="userInfoRM" autoMapping="true">
	 <id column="user_info_id" property="userInfoId"/>
	</resultMap>
	<!-- 查询个人详细信息 -->
    <select id="findUserInfoById" resultMap="UserInfoRM" >
    	select * from user_info_p where user_info_id=#{userInfoId}
    </select>
   
  	<resultMap type="lego.pojo.UserInfo" id="UserInfoRM" autoMapping="true">
    	<id column="user_info_p" property="userInfoId"/>
    </resultMap>
    
    <!-- 修改个人详细信息 -->
	<update id="updateUserInfomsg">
		update user_info_p <set>	
		 name=#{name},
		 gender=#{gender},
		card_no=#{cardNo},
		birthdat=#{birthday},
		telephone=#{telephone}
		email=#{email}	
		</set>
		where user_info_id=#{userInfoId}
	</update>
	
</mapper>